@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,500&display=swap");

body{
    background-color: black;
    color: white;
    font-family: "Roboto";
}
.historia{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: image-set("../images/historia1.jpg");
    height: 1200px;
    width: 1200px;
    scale: 50%;

}
