@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,500&display=swap");

body{
    background-color: black;
    color: white;
    font-family: "Roboto";
}
.container{
    width:1200px;
    margin:0 auto;
}
.element{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:64px;
    margin-bottom:64px;
}
.element img{
    width:100%;
    border-radius: 25px;
}
.element p {
    display: flex;
    align-items: center;
    font-size:24px;
    line-height:1.5;
}