
    @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,500&display=swap");
body {
  height: 100vh;
  width: 100%;
  font-family: "Roboto";
  height: 100vh;
  overflow: hidden;
  background-image: image-set("../images/gallery_background.webp");
}
.gallery_title{
    display: flex;
    text-align: center;
    justify-content: center;
    color:  white;
}
.gallery_container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    width: 1200px;
    margin:0 auto;
    background-color: rgba(255, 255, 255, 0.838);
    backdrop-filter: blur(5px);
    padding:20px;
    gap:20px;
}
.gallery_container div {
    height:400px;
}
.gallery_container img {
    width: 100%;
    transition: all 0.4s;
    cursor: pointer;
    border-radius:7px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.gallery_container img:hover{
    transform: scale(1.1);
}
.overlay{
    position: absolute;
    top: 0;
    width:100%;
    height:100vh;
    background-color: #111111a6;
    backdrop-filter: blur(5px);
    display:flex;
    justify-content: center;
    align-items: center;
}
.overlay div {
    max-width:720px;
}
.overlay img {
    object-position: center;
    width: 100%;
}
.hidden{
    display: none;
}