@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,500&display=swap");

body {
  background-image: image-set("../images/background.jpeg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  font-family: "Roboto";
}
.main {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 60px;
}
.nazwa {
  margin-top: 250px;
}
.fabryka {
  font-size: 50px;
  color: white;
  font-weight: 300;
}
.main__btn {
  border: 2px solid rgb(184, 40, 40);
  display: flex;
  width: 250px;
  font-size: 25px;
  color: white;
  border-radius: 25px;
  justify-content: center;
  font-weight: bold;
  padding: 20px;
}
.main__btn a {
  color: white;
}
.main__btn:hover {
  color: black;
  cursor: pointer;
  background-color: white;
}
.main__btn:hover a {
  color: black;
}

.holder {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
a {
  text-decoration: none;
}

