@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,500&display=swap");

body {
    background-color: black;
    height: 100vh;
    width: 100%;
    font-family: "Roboto";
    backdrop-filter: blur(6px);
}
.profile__tab{
    padding: 32px 64px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  /* border-radius: 25px; */
  background-color: white;
  backdrop-filter: blur(3px);
  -webkit-box-shadow: 0px 0px 24px -7px rgba(244, 244, 244, 1);
  -moz-box-shadow: 0px 0px 24px -7px rgba(244, 244, 244, 1);
  box-shadow: 0px 0px 24px -7px rgba(244, 244, 244, 1);
}
.profile__title{
        opacity: 100%;
        color: rgb(0, 0, 0);
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        border-radius: 25px;
}
.log_out {
    border: 2px solid rgb(184, 40, 40);
    display: flex;
    width: 250px;
    font-size: 25px;
    color: wblack;
    border-radius: 25px;
    justify-content: center;
    font-weight: bold;
    padding: 20px;
    margin: auto;

  }
.log_out a {
    color: black;
  }
.log_out:hover {
    color: bwhitek;
    cursor: pointer;
    background-color: black;
  }
.log_out:hover a {
    color: white;
  }
table, th, tr, td{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}